/* theme mixins */
@mixin themelight {
  --color-foreground: hsl(195, 7%, 12%);
  --color-background: hsl(75, 17%, 95%);
  --color-shadow: hsla(0, 0%, 70%, 0.253);
  --color-100: hsl(214, 34%, 45%);
  --color-200: hsl(216, 60%, 77%);
  --color-300: hsl(216, 23%, 28%);
  --color-400: hsl(215, 30%, 40%);
  --color-500: hsl(72, 7%, 86%);
}

@mixin themedark {
  --color-foreground: hsl(0, 0%, 87%);
  --color-background: hsl(214, 6%, 22%);
  --color-shadow: hsla(210, 3%, 12%, 0.253);
  --color-100: hsl(216, 90%, 92%);
  --color-200: hsl(216, 93%, 84%);
  --color-300: hsl(217, 25%, 90%);
  --color-400: hsl(215, 30%, 40%);
  --color-500: hsl(210, 5%, 23%);
}