/* theme mixins */
@mixin themelight {
  --color-foreground: hsl(0, 0%, 13%);
  --color-background: hsl(72, 8%, 88%);
  --color-100: hsl(216, 90%, 92%);
  --color-200: hsl(216, 93%, 84%);
  --color-300: hsl(216, 23%, 28%);
  --color-400: hsl(215, 30%, 40%);
  --color-500: hsl(60, 7%, 94%);
}

@mixin themedark {
  --color-foreground: hsl(0, 0%, 87%);
  --color-background: hsl(214, 6%, 22%);
  --color-100: hsl(216, 90%, 92%);
  --color-200: hsl(216, 93%, 84%);
  --color-300: hsl(217, 25%, 90%);
  --color-400: hsl(215, 30%, 40%);
  --color-500: hsl(214, 17%, 16%);
}