@use "../abstracts"as *;

:root {
    /* set light theme as (default) */
    @include themelight;

    /* set dark-theme based on media preference. Handled by _data/js/darkmode.js */
    @media (prefers-color-scheme: dark) {
        @include themedark;
    }

    --ff-serif: 'Quattrocento',
    serif;
    --ff-sans: sans-serif;
    --ff-mono: monospace;
    /* typography from https://type-scale.com/ css file */
    --fs-h1: 3.052em;
    --fs-h2: 2.441em;
    --fs-h3: 1.953em;
    --fs-h4: 1.563em;
    --fs-h5: 1.25em;
    --fs-h6: 1.125em;
    --fs-small: 0.9em;
    --fs-xsmall: 0.8em;

    --base-gap: 1em;
}