/** 
  For test purpose only. 
  Delete all the following when starting a new project !
*/
@use "../abstracts/mediaqueries"as *;
@use "../abstracts/_colors"as *;

header {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em;

  a {
    padding: 0;
    text-decoration: none;
    font-size: .96em;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    flex: 0 2 auto;
  }

  @include laptop {
    padding: 4em;
    margin-bottom: 1em;
    gap: 6em;

    a {
      font-size: 1em;
      flex: 0 1 1;
    }
  }
}

.logo {
  font-size: var(--fs-h3);
  font-family: var(--ff-serif);
  padding: 0;
  flex: 2 0 100%;

  @include laptop {
    flex: 1 0 0;
  }
}

// #themetoggle {
//   margin-left: 1em;

//   @include tablet {
//     margin-left: 3em;
//   }

//   @include laptop {
//     margin-left: 8em;
//   }
// }

main {
  margin: 0 auto 0 auto;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "post"
    "headline"
    "cnav"
    "main"
    "board"
    "aside";

  animation: fade-in .66s ease backwards;

  @include laptop {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      ". post ."
      "headline headline headline"
      "cnav cnav cnav"
      "main main main"
      "board board board"
      "aside aside aside";
  }

  @include desktop {
    grid-template-columns: 2fr 4fr 2fr;
    grid-template-areas:
      ". post ."
      ". headline aside"
      ". cnav aside"
      ". main aside"
      ". board aside";
  }
}

a {
  color: var(--color-300);
}

.headline {
  grid-area: headline;
  // border-left: 1px solid var(--color-500);
  border-bottom: 1px solid var(--color-500);
  // border-right: 1px solid var(--color-500);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  // border-radius: 4px;
  padding: 2em;
}

.content-navigation {
  grid-area: cnav;
}

.content-board {
  grid-area: main;
}

.content-aside {
  grid-area: aside;

  @include tablet {
    padding: 0 1em 0 8em;
    font-size: .9rem;
    text-align: right;
  }
}

.post {
  grid-area: post;

  @include desktop {
    padding: 0 6em;
  }
}

@media print {
  .no-print {
    // visibility: hidden;
    display: none;
  }
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 6em 3em;
  font-size: var(--fs-small);

  @include tablet {
    font-size: .9rem;
    flex-wrap: wrap;
    padding: 6em;
    justify-content: space-evenly;
    align-items: flex-end;
  }
}

footer>* {
  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}


@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}