{% extends "layouts/base.html" %}
{% block content %}
  {# {% include "partials/headline.html" %} #}
  {% include "partials/content-nav.njk" %}
  {% include "partials/content-board.njk" %}
  {% include "partials/content-aside.njk" %}
{% endblock %}