{% extends "layouts/base.njk" %}
{% block content %}
  <section class="post">
    <h1>{{ metaTitle }}</h1>
    <p>
      <small>
        <span>
          <datetime>{{ date | dateToFormat("YYYY MM DD") }}</datetime>
        </span>|<span>
          in {{ category }}
        </span>
      </small>
    </p>
    {{ content | safe }}
  </section>
{% endblock %}
{% block footer %}
  {% include "partials/footer-minimal.njk" %}
{% endblock %}