{% extends "layouts/base-locales.njk" %}
{% block content %}
  {% block headline %}
    {{ headline | safe }}
  {% endblock %}
  {% block contentNavigation %}
    {{ contentNavigation | safe }}
  {% endblock %}
  {% block contentBoard %}
    {{ contentBoard | safe }}
  {% endblock %}
  {% block contentAside %}
    {{ contentAside | safe }}
  {% endblock %}
{% endblock %}