{% extends "layouts/base.njk" %}
{% block content %}
  {% block contentBoard %}
    {{ contentBoard | safe }}
  {% endblock %}
  {% block contentAside %}
    {{ contentAside | safe }}
  {% endblock %}
{% endblock %}
{% block footer %}
  {% include "partials/footer-minimal.njk" %}
{% endblock %}