@use "../abstracts/mediaqueries"as *;

.content-board {
  width: 100%;
  margin-bottom: 3em;
}

.grid-masonry {
  --columns: 1;
  min-width: 100%;
  margin: 0 auto;
  // display: column;
  // columns: var(--columns);
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: var(--base-gap);

  @include tablet {
    --columns: 2;
  }

  @include desktop {
    --columns: 3;
  }
}

.grid-masonry>* {
  break-inside: avoid;
}

@supports (grid-template-rows: masonry) {
  .grid-masonry {
    grid-template-rows: masonry;
    grid-auto-flow: dense;
  }
}

.card {
  padding: .5em;
  background-color: teal;
}

.featured {
  @include tablet {
    grid-column: span 2;
  }
}