@use "../abstracts/mediaqueries"as *;

.content-board {
  margin-bottom: 3em;
}

.content-board--404 {
  padding: 1em;

  @include tablet {
    padding: 6em 3em;
  }

  @include laptop {
    padding: 6em 12em;
  }

  @include desktop {
    padding: 3em 6em;
  }
}

.content-navigation {
  // outline: 1px solid pink;
  margin-bottom: 3em;
}

.grid-masonry {
  // outline: 1px solid red;

  --columns: 1;

  @include tablet {
    --columns: 2;
  }

  @include widescreen {
    --columns: 3;
  }

  min-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: var(--base-gap);
}

.grid-masonry>* {
  break-inside: avoid;
}

@supports (grid-template-rows: masonry) {
  .grid-masonry {
    // outline: 1px solid purple;
    grid-template-rows: masonry;
    grid-auto-flow: dense;
  }

  // this breaks all!!!!
  // .featured {
  //   grid-column: span 2;
  // }
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1em;
  transition: all .5s;

  // background-color: var(--color-500);
  // outline: 1px solid red;

  &:hover {
    box-shadow: 8px 8px 16px var(--color-shadow);
  }

  h3 {
    margin: .5rem 0 1.2rem;
    font-size: var(--fs-h4);
    // font-family: var(--ff-serif);
  }

  h4 {
    font-size: var(--fs-h5);
    font-family: var(--ff-serif);
  }

  a {
    margin-bottom: 1em;
    text-decoration: none;

    &:hover {
      color: var(--color-400);
    }
  }
}

.card__text {
  font-size: var(--fs-small);
}

.card__datetime {
  font-family: var(--ff-sans);
  font-size: var(--fs-xsmall);
}