@use "../abstracts/mediaqueries"as *;

.headline {
  // outline: 1px solid pink;
  position: relative;
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  @include desktop {
    grid-row: 1 / 3;
  }

  border-bottom: 2px solid var(--color-500);
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;

  box-shadow: 8px 8px 16px var(--color-shadow);
}

.headline__image {
  // outline: 1px solid red;
  width: 100%;
  object-fit: cover;
  // aspect-ratio: 16 / 9;

  @include tablet {
    // object-fit: contain;
  }
}

.headline__track-container {
  position: relative;
}

.headline__track {
  padding: 0;
  margin: 0;
  list-style: none;
}

.headline__slide {
  padding: 1em;
  display: none;
  opacity: 0;

  h1 {
    font-weight: bold;
    font-size: var(--fs-h2);
  }

  h2 {
    font-size: var(--fs-h3);
  }
}

.current-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  a {
    text-decoration: none;
    align-self: flex-end;
    font-size: var(--fs-small);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: .3em .6em;
    transition: all .25s ease;

    &:hover {
      color: var(--col-300);
      border: 1px solid rgba(0, 0, 0, 0.6);
    }
  }

  animation: fade-in .6s ease-in-out forwards;
}

.headline__nav {
  display: flex;
  // align-items: flex-end;
  // justify-content: stretch;
  padding: 1em;
  gap: .5em;
}

.headline__indicator {
  padding: .4em;
  border-radius: 4px;
  background-color: var(--color-500);
  opacity: 0.2;
  transition: all .3s ease-in-out;
  // min-height: 50%;
}

.headline__indicator.current-slide {
  background-color: var(--color-foreground);
  opacity: 0.7;
}