.headline {
  grid-area: headline;
  position: relative;
  outline: 1px solid hsla(0, 0%, 48%, 0.1);
  border-bottom: 1px solid var(--color-500);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: .5em;
}

.headline__image {
  width: 100%;
}

.headline__track-container {
  // background-color: teal;
  position: relative;
  padding: .25em;
}

.headline__track {
  padding: 0;
  margin: 0;
  list-style: none;
}

.headline__slide {
  padding: .5em;
  display: none;
  opacity: 0;

  h1 {
    font-weight: bold;
  }

  h2 {
    font-size: var(--fs-h3);

  }
}

.current-slide {
  display: block;
  animation: fade-in .250s ease-in-out forwards;
}

.headline__nav {
  display: flex;
  justify-content: center;
  padding: 1em;
  gap: 1em;
}

.headline__indicator {
  padding: .6em;
  // border-radius: 10px;
  background-color: var(--color-500);
}

.headline__indicator.current-slide {
  background-color: var(--color-foreground);
}