---
metaTitle: Joe Doe about
metaDescription: Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam iure eveniet labore. Sed magni qui, alias sequi illo reprehenderit officiis?
---
{% extends "layouts/secondary-page.njk" %}
{% block headline %}
  {% include "partials/headline.njk"%}
{% endblock %}
{% block contentNavigation %}
  {% include "partials/content-nav.njk"%}
{% endblock %}
{% block contentBoard %}
  <section class="content-board">
    <h2>You wanna have an easy and happy life with
      <b>11ty</b>?</h2>
    <h3>Always think at the Eleventy Data Cascade</h3>
    <small>the order of priority for sources of data is (from highest priority to lowest):</small>
    <ol>
      <li><a href="https://www.11ty.dev/docs/data-computed/" rel="noopener" target="_blank">Computed Data</a></li>
      <li><a href="https://www.11ty.dev/docs/data-frontmatter/" rel="noopener" target="_blank">Front Matter Data in a Template</a></li>
      <li><a href="https://www.11ty.dev/docs/layouts/#front-matter-data-in-layouts" rel="noopener" target="_blank">Front Matter
        Data in Layouts</a></li>
      <li><a href="https://www.11ty.dev/docs/data-template-dir/" rel="noopener" target="_blank">Template Data Files</a></li>
      <li><a href="https://www.11ty.dev/docs/data-template-dir/" rel="noopener" target="_blank">Directory Data Files (and
        ascending Parent Directories)</a></li>
      <li><a href="https://www.11ty.dev/docs/data-global/" rel="noopener" target="_blank">Global Data Files</a></li>
      <li><a href="https://www.11ty.dev/docs/data-global-custom/" rel="noopener" target="_blank">Custom Global Data</a></li>
    </ol>
    <div style="margin-top:2em;">
      <h2>11ty-Times</h2>
    <p>[v0.0.1]</p>
    <p><small>Base starter : <a href="">11ty-Starter [v0.0.6]</a></small></p>
    </div>
  </section>
{% endblock %}
{% block contentAside %}
  {% include "partials/content-aside.njk"%}
{% endblock %}