---
permalink: index.html
---
{% extends "layouts/primary-page.njk" %}

  {% block headline %}
    {% include "partials/headline.njk"%}
  {% endblock %}
  {% block contentNavigation %}
    {% include "partials/content-nav.njk"%}
  {% endblock %}
  {% block contentBoard %}
    {% include "partials/content-board.njk"%}
  {% endblock %}
  {% block contentAside %}
    {% include "partials/content-aside.njk"%}
  {% endblock %}