<section class="content-aside">
  <h2>Content Aside</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa voluptate qui minus iste fugit odio sequi quasi
    possimus ipsam aspernatur alias amet veritatis non veniam quisquam, atque eum nostrum iure quod architecto laboriosam
    cum nam. Corrupti culpa inventore commodi architecto libero fuga unde soluta illum, dolores nihil sed fugiat, amet
    adipisci deserunt assumenda ab veniam harum perspiciatis minus? Quia laudantium, non odio totam dolorem quam, quos ipsam
    possimus cumque quis velit nam reiciendis! Deleniti, excepturi! Maiores harum fugit iure magni aliquid est minima
    corrupti quibusdam vel quae ut hic, nesciunt vero? At nihil fuga dignissimos, eligendi repellendus hic aut libero
    reiciendis reprehenderit illum excepturi enim corporis doloremque! Aperiam, dolor consectetur voluptas eaque assumenda
    saepe libero enim nisi porro doloremque doloribus!</p>
</section>