<section
  class="content-navigation">
  {# <h2>Filters &amp; Search</h2>
    <code>[partials/content-nav.njk]</code> #}
  <section>
    <button>some button</button>
    <button>some button</button>
    <button>some button</button>
    <button>some button</button>
  </section>
</section>