<section class="content-navigation">
  <h2>Filters &amp; Search</h2>
  <small>[partials/content-nav.njk]</small>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, fuga nobis consectetur molestiae reiciendis modi
    iure repudiandae adipisci necessitatibus quis qui exercitationem, unde ipsam facilis dolor eum!</p>
</section>