<section class="content-board">
  <h2>Latest</h2>
  <small>[partials/content-board.njk]</small>
  <div class="grid-masonry">
    {% for post in collections.post | reverse %}
      {% if post.data.featured %}
        <div class="card featured">
          <h3>
            <a href="{{ post.url | url }}">{{ post.data.metaTitle }}</a>
          </h3>
          <small>{{ post.data.date }}</small>
          {% if post.data.metaDescription %}
            <h4>{{ post.data.metaDescription }}</h4>
          {% endif %}
          {{ post.templateContent | excerpt }}
        </div>
      {% else %}
        <div class="card">
          <h3>
            <a href="{{ post.url | url }}">{{ post.data.metaTitle }}</a>
          </h3>
          <small>{{ post.data.date }}</small>
          {% if post.data.metaDescription %}
            <h4>{{ post.data.metaDescription }}</h4>
          {% endif %}
          {{ post.templateContent | excerpt }}
        </div>
      {% endif %}
    {% endfor %}
  </section>