<section class="content-board">
  <h2>Content Board</h2>
  <div class="grid-masonry">
    <div class="card featured">
      <p>some card 1</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt eaque esse reiciendis dolorem quidem error eius
        nesciunt eos blanditiis, aut ad hic officiis eum dolorum dolor magni fugit incidunt? Recusandae!</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt eaque esse reiciendis dolorem quidem error eius
        nesciunt eos blanditiis, aut ad hic officiis eum dolorum dolor magni fugit incidunt? Recusandae!</p>
    </div>
    <div class="card">
      <p>some card 2</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt eaque esse reiciendis dolorem quidem error eius
        nesciunt eos blanditiis, aut ad hic officiis eum dolorum dolor magni fugit incidunt? Recusandae!</p>
    </div>
    <div class="card">
      <p>some card 3</p>
      <p>Sunt eaque esse reiciendis dolorem quidem error eius nesciunt eos blanditiis, aut ad hic officiis eum dolorum dolor
        magni fugit incidunt? Recusandae!</p>
    </div>
    <div class="card">
      <p>some card 4</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt eaque esse reiciendis dolorem quidem error eius
        nesciunt eos blanditiis, aut ad hic officiis eum dolorum dolor magni fugit incidunt? Recusandae!</p>
    </div>
    <div class="card">
      <p>some card 5</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt eaque esse reiciendis dolorem quidem error eius
        nesciunt eos blanditiis, aut ad hic officiis eum dolorum dolor magni fugit incidunt? Recusandae!</p>
    </div>
    <div class="card">
      <p>some card 6</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae!</p>
    </div>
  </div>
</section>