<section class="content-navigation">
  <h2>Content Navigation</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, fuga nobis consectetur molestiae reiciendis modi
    iure repudiandae adipisci necessitatibus quis qui exercitationem, unde ipsam facilis dolor eum. Nihil vel totam vero
    possimus perspiciatis deleniti consequuntur commodi sunt quos ad rerum animi doloremque labore nisi aliquid, quas
    quibusdam excepturi reiciendis quis!</p>
</section>