<footer>
  <div>
    <p>
      <small>Copyright&copy;{{ site.name }} 2021-present</small>
    </p>
  </div>
</footer>
{% set js %}
{% include "js/dom.js" %}
{% include "js/core.js" %}
{% include "js/darkmode.js" %}
{% endset %}
<script type="text/javascript">{{ js | jsmin | safe }}</script>