<footer>
  <div>
    <p>
      <small>Copyright&copy;{{ site.name }} 2021-present</small>
    </p>
  </div>
  <div>
    <ul>
      {% for item in locales[0].footer %}
        <li>
          <a href="{{ item.url }}" rel="noopener">{{ item.label }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</footer>
{# <script type="module" src="/js/main.js"></script> #}
{% set js %}
{% include "js/dom.js" %}
{% include "js/core.js" %}
{% include "js/darkmode.js" %}
{% include "js/headline.js" %}
{% endset %}
<script type="text/javascript">{{ js | jsmin | safe }}</script>