<footer>
  <div>
    <p>
      <small>&copy;{{ site.name }} 2021-present The Web</small>
    </p>
  </div>
  <div>
    <ul>
      <li><a href="/">Privacy Policy</a></li>
      <li><a href="/">Contact</a></li>
      <li><a href="/">Credits</a></li>
    </ul>
  </div>
</footer>
{# <script type="module" src="/js/main.js"></script> #}
{% set js %}
{% include "js/dom.js" %}
{% include "js/core.js" %}
{% include "js/darkmode.js" %}
{% endset %}
<script type="text/javascript">{{ js | jsmin | safe }}</script>