<section class="headline">
  <!-- <button class="headline-button"></button> -->
  <div class="headline__track-container">
    <ul class="headline__track">
      {% set counter = 0 %}
      {% for post in collections.post %}
      {% if post.data.featured === true %}
      {% set counter =  counter + 1 %}
      {% if counter == 1 %}
      <li class="headline__slide current-slide">
        {% else %}
      <li class="headline__slide">
        {% endif %}
        <h1>{{ post.data.summary }}</h1>
        {# <small>{{ post.data.date | dateToFormat("YYYY-MM-DD") }}</small> #}
        {% if post.data.imageSlide %}
        <picture>
          <img class="headline__image" src="{{ post.data.imageSlide }}" alt="{{ post.data.imgAlt }}" width="900"
            height="300"></picture>
        {% endif %}
        <h2>{{ post.data.title }}</h2>
        <p>{{ post.templateContent | excerpt }}</p>
        <a href="{{post.url | url}}" rel=noopener>read more</a>
      </li>
      {% endif %}
      {% endfor %}
      <!-- {{ counter | log }} -->
    </ul>
  </div>
  <!-- <button class="headline-button"></button> -->
  <div class="headline__nav">
    {% for i in range(0, counter) -%}
    {% if i === 0 %}
    <button class=" headline__indicator current-slide" aria-label="Select Slide"></button>
    {% else %}
    <button class=" headline__indicator" aria-label="Select Slide"></button>
    {% endif %}
    {%- endfor %}
  </div>
</section>