<section class="headline">
  <h1>{{metaDescription}}</h1>
  <h3>{{metaTitle}}</h3>
  <p>Excerpt Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam excepturi assumenda modi aliquid similique
    reprehenderit laboriosam ipsa ut ab, nam esse veritatis voluptatibus necessitatibus iusto dicta quia itaque a
    perspiciatis consectetur eligendi velit! Fugiat labore a ducimus aliquid facere magnam quas amet molestiae doloribus
    ipsam deserunt velit, repudiandae excepturi, autem vel...</p>
  <p>
    <small>
      started :
      <time datetime="{{ page.date | dateToFormat('YYYY-MM-DD') }}">{{ page.date | dateToFormat('YYYY-MM-DD') }}</time>
    </small>
  </p>
  <a href="/content/first-content/index.html">content</a>
</section>