<section
  class="headline">
  {# <h1>{{metaTitle}}</h1> #}
  <h1>{{metaDescription}}</h1>
  <p>
    <small>
      started :
      <time datetime="{{ page.date | dateToFormat('YYYY-MM-DD') }}">{{ page.date | dateToFormat('YYYY-MM-DD') }}</time>
    </small>
  </p>
  <a href="/content/first-content/index.html">content</a>
</section>