<section
  class="headline">
  {# <button class="headline-button"></button> #}
  <div class="headline__track-container">
    <ul class="headline__track">
      {% set counter = 0 %}
      {% for post in collections.post %}
        {% if post.data.featured === true %}
          {% set counter =  counter + 1 %}
          {% if counter == 1 %}
            <li class="headline__slide current-slide">
            {% else %}
              <li class="headline__slide">
              {% endif %}
              <h1>{{ post.data.metaDescription }}</h1>
              {# <small>{{ post.data.date | dateToFormat("YYYY-MM-DD") }}</small> #}
              <h2>{{ post.data.metaTitle }}</h2>
              <p>{{ post.templateContent | excerpt }}</p>
              <a href="/">call to action</a>
            </li>
          {% endif %}
        {% endfor %}
        {# {{ counter | log }} #}
      </ul>
    </div>
    {# <button class="headline-button"></button> #}
    <div class="headline__nav">
      {% for i in range(0, counter) -%}
        {% if i === 0 %}
          <button class="headline__indicator current-slide" aria-label="Select Slide"></button>
        {% else %}
          <button class="headline__indicator" aria-label="Select Slide"></button>
        {% endif %}
      {%- endfor %}
    </div>
  </section>